<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sowing Life Seeds</a>
            <ul sec:authorize="isAuthenticated()" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-item">
                    <a class="nav-link active" href="/">홈</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="/seeds/new">시드 등록하기</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="/overview">요약</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link active" href="/settings">설정</a>
                </li>
            </ul>
            <a sec:authorize="isAnonymous()" class="btn btn-outline-primary" href="/login/google">로그인</a>
            <a sec:authorize="isAuthenticated()" class="btn btn-outline-secondary" href="/logout">로그아웃</a>
        </div>
    </nav>
</header>
</html>