<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sowing Life Seeds</a>
            <a sec:authorize="isAnonymous()" class="btn btn-outline-primary" href="/login">로그인</a>
            <a sec:authorize="isAuthenticated()" class="btn btn-outline-secondary" href="/logout">로그아웃</a>
        </div>
    </nav>
</header>
</html>