<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center">HOME</h1>
        <p><span th:text="${#authentication.name}"></span>님 안녕하세요.</p>
        <div sec:authorize="isAuthenticated()" class="d-flex w-100 justify-content-center flex-column align-items-center">
            <ul class="w-100 list-group" th:each="seed : ${seedList}">
                <li class="list-group-item" th:text="|${seed.type} / ${seed.title} / ${seed.content} / ${seed.sowingDate}|"></li>
            </ul>
        </div>
    </div>
</div>
</html>