<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div sec:authorize="isAuthenticated()" id="seedsContainer" class="d-flex w-100 justify-content-center flex-column align-items-center">
            <h1 th:text="|${seedYearGroups.year}년|"></h1>
            <div th:if="${!seedMonthGroup.seedDayGroups.isEmpty()}" class="w-100 list-group mb-3" th:each="seedMonthGroup : ${seedYearGroups.seedMonthGroups}">
                <h3 th:text="${seedMonthGroup.month}"></h3>
                <div class="mb-2" th:each="seedDayGroup : ${seedMonthGroup.seedDayGroups}">
                    <h5 th:text="|${seedDayGroup.day}일|"></h5>
                    <a class="list-group-item"
                       th:each="seed : ${seedDayGroup.seeds}"
                       th:href="|/seeds/${seed.id}|" th:text="|${seed.type} / ${seed.title}|"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>