<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex justify-content-center">
        <h1>시드 등록하기</h1>
    </div>
    <form role="form" action="/seeds/new" method="post" class="w-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <input type="hidden" name="username" th:value="${#authentication.name}"/>
            <div class="form-floating w-75">
                <input type="date" th:max="${#temporals.createToday()}" id="sowingDate" name="sowingDate" class="form-control" th:value="${#temporals.createToday()}"/>
                <label for="sowingDate">날짜</label>
            </div>
            <div class="form-floating w-75 mt-2">
                <select id="seed-type" name="selectType" class="form-select">
                    <option th:each="type : ${typeList}"
                            th:value="${type}"
                            th:text="${type}"></option>
                </select>
                <label for="seed-type">타입</label>
            </div>
            <div class="form-floating w-75 mt-2">
                <input id="seed-title" class="form-control" type="text" name="title"/>
                <label for="seed-title">제목</label>
            </div>
            <textarea id="seed-content" name="content" class="form-control w-75 mt-2" style="height: 300px"
                      placeholder="오늘 하루 어땠나요?"></textarea>
            <button type="submit" class="btn btn-success mt-2">등록</button>
        </div>
    </form>

</div>
</html>