<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/common.css"/>
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div sec:authorize="isAuthenticated()" id="seedsContainer" class="d-flex w-100 justify-content-center flex-column align-items-center">
            <div class="h1 mb-3">요약</div>
            <div class="mb-3">
                지금까지 등록한 시드는 총 <span class="fw-bold" th:text="${seedOverview.typeCounter.total()}"></span>개 입니다.
            </div>
            <div th:each="seedType : ${seedOverview.typeCounter.keySet()}">
                <div class="mb-1">
                    <span th:text="|${seedType} : |"></span> <span class="fw-bold" th:text="${seedOverview.typeCounter.getCount(seedType)}"></span>개
                </div>
            </div>
        </div>
    </div>
</div>
</html>