<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center mb-3">설정</h1>
        <div class="w-100">
            <h3>나의 시드 타입</h3>
            <ul>
                <li th:each="seedType: ${settings.seedTypes}" th:text="${seedType.name}"></li>
            </ul>
        </div>
    </div>
</div>
</html>