<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
    <script>
        const addSeedType = () => {
            const seedTypeName = document.getElementById("seed-type-name").value;
            axios({
                url: '/settings/seedtype/new',
                method: 'POST',
                data: {seedTypeName: seedTypeName}
            }).then(() => {
                const seedTypeList = document.getElementById("seed-type-list");
                const nextIndex = seedTypeList.children.length;

                const div = document.createElement("div");
                div.id = 'seedType'+nextIndex;
                div.classList.add('d-flex');
                div.classList.add('align-items-center');
                div.classList.add('list-group-item');
                div.classList.add('justify-content-between');
                const span = document.createElement('span');
                span.innerText = seedTypeName;
                const removeHyperText = document.createElement("a");
                removeHyperText.classList.add('text-decoration-none');
                removeHyperText.style.color = 'red';
                removeHyperText.style.cursor = 'pointer';
                removeHyperText.innerText = '삭제';
                removeHyperText.addEventListener('click', ()=> {
                    removeSeedType(nextIndex);
                });

                div.appendChild(span);
                div.appendChild(removeHyperText)

                seedTypeList.appendChild(div);
            }).catch((error) => {
                const status = error.response.status;
                if (status === 400) {
                    alert(error.response.data);
                }
            });
        };

        const removeSeedType = (index) => {
            axios({
                url: '/settings/seedtype?seedTypeName='+document.getElementById('seedType'+index).firstElementChild.innerHTML,
                method: 'DELETE',
            }).then(() => {
                const seedType = document.getElementById('seedType'+index);
                seedType.remove();
            }).catch((error) => {
                const status = error.response.status;
                if (status === 400) {
                    alert(error.response.data);
                }
            });
        };

        const changeName = (index) => {
            const seedTypeName = document.getElementById('seedTypeName'+index);
            const input = document.createElement('input');
            input.value = seedTypeName.innerText;
            input.classList.add('border-light');
            seedTypeName.innerText = '';
            seedTypeName.appendChild(input);

            const saveBtn = document.getElementById('saveBtn'+index);
            saveBtn.removeAttribute('hidden');
            const changeBtn = document.getElementById('changeBtn'+index);
            changeBtn.setAttribute('hidden','hidden');
        }

        const saveName = (index) => {
            const seedTypeName = document.getElementById('seedTypeName'+index);
            const newName = seedTypeName.children.item(0).value;
            seedTypeName.children.item(0).remove();
            seedTypeName.innerHTML = newName;

            //TODO: (BackEnd) 시드 타입 이름을 변경하고, 이미 등록된 시드의 타입 이름도 변경합니다.

            const saveBtn = document.getElementById('saveBtn'+index);
            saveBtn.setAttribute('hidden', 'hidden');
            const changeBtn = document.getElementById('changeBtn'+index);
            changeBtn.removeAttribute('hidden');
        }

    </script>
</th:block>

<div layout:fragment="content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center mb-3">설정</h1>
        <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <div class="seed-type-setting">
                <h3>시드 타입</h3>
                <div class="d-flex" style="width: 250px;">
                    <input id="seed-type-name" class="border-success" type="text"/>&nbsp;
                    <a class="btn btn-success" onclick="addSeedType()">추가</a>
                </div>
                <div id="seed-type-list" class="list-group">
                    <div th:id="|seedType${i.index}|" class="d-flex align-items-center list-group-item justify-content-between" th:each="seedType, i: ${settings.seedTypes}">
                        <span th:id="|seedTypeName${i.index}|" th:text="${seedType.name}"></span>
                        <div>
                            <a th:id="|changeBtn${i.index}|" class="text-decoration-none" style="color: blue; cursor: pointer" th:onclick="|changeName(${i.index})|">수정</a>
                            <a th:id="|saveBtn${i.index}|" class="text-decoration-none" style="color: blue; cursor: pointer" th:onclick="|saveName(${i.index})|" hidden>저장</a>
                            <a class="text-decoration-none" style="color: red; cursor: pointer" th:onclick="|deleteSeedType(${i.index})|">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>